@if(isAddingTask)
{
<app-add-task (cancelTaskFormEvent)="onCancelAddTask()" (addTaskEvent)="addNewTask($event)"></app-add-task>
}

<section>
    <header>
        <h2>{{name}}</h2>
        <menu>
            <button (click)="onAddTask()">Add Task</button>
        </menu>
    </header>
    <ul>
        @for(task of selectedUserTasks; track task.id)
        {
        <li>
            <app-task [task]="task" (removeTaskByIdEvent)="removeTask($event)"></app-task>
        </li>
        }
    </ul>
</section>